

/*
CSS RESETS:
 Border box reset:
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https: //www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/
 /*  COLOR PALLET
 Oil #322619
 Sorrell Brown #C5A683
 Sage #8E9B83
 Mamba #8B8094 
 Gray Asparagus #444E46
 Mongoose #BFA780
 Gumbo #7BA0A8
 Gull Grey #98B6B8
 */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

header{
  
    padding: 25px;
}
html,
body {
    height: 100%;
}



body {
    background: #2C4046;
    margin: 0;
    /*font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    /* same as 16px using 62.5% fix for rem */
    line-height: 1.6;
}
 h1,
 h2,
 h3,
 p {
    font-family: "bd-geminis", sans-serif;
font-weight: 400;
font-style: normal;
 }

 h1 {
     font-size: 7rem;
 }

 h2 {
     font-size: 3.6rem;
 }

 h3 {
     font-size: 2.4rem;
 }
p{
    font-size: medium;
}

 a {
     color: #8E9B83;
 }

 a:hover {
     color: #98B6B8;
 }

/* responsive images */
img, iframe {
    width: auto;
    max-width: 100%;
    height: auto;
}


/* Basic Flex Setup
------------------------------ */

/* Flexbox creates sticky footer for the homepage, since the content does not fill the whole page. You could do the same for the resume page to be consistent */

body {
    background: black;
    display: flex;
    flex-direction: column;
}

.essay {
    flex: 1 0 auto;
    margin: 0 auto;

    display: flex;
    padding: 30px;
    max-width: 1200px;
    flex-direction: column;
}

header {
    background-color: #2C4046;
}

main {
    padding: 2rem;
    background: beige;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* delete gap if you would rather use margins */
    gap: 10px;
}

section {
    flex: 0 1 300px;
    background-color:#4EBCAA;
    padding: 2rem;
    /* add margin if you don't want to use gap in flex container (main) */
}


/* media queries
------------------------------ 

customize these for your own breakpoints */

/* this is mobile-first - meaning all the rest of the CSS is for mobile, and this CSS is specific to browser screens */
@media screen and (max-width:650px) {

    /* change padding for mobile */
    .content-wrapper {
        padding: 20px;
    }

    main {
        padding: 20px;
    }
    
    /* to switch to grid for desktop: */
    main {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
    
    section {
        flex: 0 1 auto;
    
    }

}





/* FOOTER
------------------------------ 

sticky footer with flexbox
breakpoints resize to mobile
 */

footer {
    background: #444E46;
    color: beige
}

.socials {
    list-style-type: none;
    padding: 0;
}

.socials li {
    display: inline-block;
    margin-left: 5px;
}

.socials img {
    width: 32px;
}

.socials img:hover {
    opacity: 0.5;
}


@media screen and (min-width: 860px) {
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}

@media screen and (max-width: 859px) {
    footer {
        text-align: center;
        padding: 10px;
    }
}