* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: center;
    z-index: 2;
}

nav p {
    text-transform: uppercase;
    font-family: "bd-retrocentric", sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 4px;
    background-color: #D2D2C8;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:#322619 ;
    /* Green background */
    color: #fff;
}

/* Logo styling */
.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

/* Navigation links styling */
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
  
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, text-decoration 0.3s, background-color 0.3s;
    padding: 5px 10px;
     
}

.nav-links a:hover,
.nav-links {
    color: #e0e0e0;
    /* Lighter color for active/hover */
    background-color: #C5A683;
    /* Darker green background on hover */
    border-radius: 4px;
    /* Optional: rounded corners */
}

/* Menu toggle button for mobile view */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 5px;
}

/* Responsive styling */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color:#322619 ;
        /* Green background for mobile view */
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-toggle {
        display: flex;
    }
}
.header {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transform-style: preserve-3d;
    perspective: 10000px;
    will-change: transform;
    z-index: 2;
}

.header h1 {
    text-transform: lowercase;
    font-family: "crayonette-djr", sans-serif;
    font-size: 7.5vw;
    letter-spacing: -0.025em;
    line-height: 1;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    user-select: none;
    color: white;
}