* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: center;
    z-index: 2;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "bd-retrocentric", sans-serif;
    font-weight: 400;
    font-size: 12 px;
    padding: 4px;
    border-radius: 4px;

}


/* Navigation links styling */
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {

    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, text-decoration 0.3s, background-color 0.3s;
    padding: 5px 10px;

}

.nav-links a:hover {
    background-color: #D2D2C8;
    /* Darker green background on hover */
    border-radius: 4px;
    /* Optional: rounded corners */
}



.header {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transform-style: preserve-3d;
    perspective: 10000px;
    will-change: transform;
    z-index: 2;
}

.header h1 {
    text-transform: lowercase;
    font-family: "crayonette-djr", sans-serif;
    font-size: 7.5vw;
    letter-spacing: -0.025em;
    line-height: 1;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    user-select: none;
    color: white;
}