 /*  COLOR PALLET
 Oil #322619
 Sorrell Brown #C5A683
 Sage #8E9B83
 Mamba #8B8094 
 Gray Asparagus #444E46
 Mongoose #BFA780
 Gumbo #7BA0A8
 Gull Grey #98B6B8
 */

 /* GOLOBAL STYELS */
 /* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/

 html {
     box-sizing: border-box;
     font-size: 62.5%;
     /* setting the default to 10px*/
 }

 *,
 *:before,
 *:after {
     box-sizing: inherit;
 }

 html,
 body {
     height: 100%;
 }

 body {
     background-color: #F5F2EB;
     /* light shade of grey*/
     margin: 0;
     font-family: "Kanit", sans-serif;
     font-size: 1.5rem;
     line-height: 1.4;

 }

 /* Basic styles for the navbar */
 .navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 20px;
     background-color: #322619;
     /* Green background */
     color: #fff;
 }

 /* Logo styling */
.logo a img {
    height: 80px;      /* or whatever size you like */
    width: auto;
    display: block;
    padding: 0;        /* override global img padding */
    max-width: none;   /* optional: ignore global max-width */
}


 /* Navigation links styling */
 .nav-links {
     display: flex;
     list-style: none;
 }

 .nav-links li {
     margin: 0 15px;
 }

 .nav-links a {

     color: #fff;
     text-decoration: none;
     font-size: 18px;
     transition: color 0.3s, text-decoration 0.3s, background-color 0.3s;
     padding: 5px 10px;

 }

 .nav-links a:hover,
 .nav-links a.active {
     color: #e0e0e0;
     /* Lighter color for active/hover */
     background-color: #C5A683;
     /* Darker green background on hover */
     border-radius: 4px;
     /* Optional: rounded corners */
 }

 /* Menu toggle button for mobile view */
 .menu-toggle {
     display: none;
     flex-direction: column;
     cursor: pointer;
 }

 .menu-toggle .bar {
     background-color: #fff;
     height: 3px;
     width: 25px;
     margin: 5px;
 }

 /* Responsive styling */
 @media (max-width: 768px) {
     .nav-links {
         display: none;
         flex-direction: column;
         width: 100%;
         position: absolute;
         top: 60px;
         left: 0;
         background-color: #322619;
         /* Green background for mobile view */
     }

     .nav-links.active {
         display: flex;
     }

     .nav-links li {
         margin: 10px 0;
         text-align: center;
     }

     .menu-toggle {
         display: flex;
     }
 }

 h1,
 h2,
 h3 {
     font-family: "Oswald", sans-serif;
     font-weight: 100;
     font-style: normal;
 }

 h1 {
     font-size: 4rem;
 }

 h2 {
     font-size: 3rem;
 }

 h3 {
     font-size: 2rem;
 }

 p {
     font-size: 1.6rem;
 }

 a {
     color: #8E9B83;
 }

 a:hover {
     color: #98B6B8;
 }

 .btn {
     background: #8B8094;
     color: #98B6B8;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 1.2rem;
     display: inline-block;
     padding: 7px;

 }

 .content-wrap {
     margin: 0 auto;
     max-width: 900px;
     padding: 30px;
 }

 /* HOME */
 .home {
     background: url(../images/palm-trees.jpg) no-repeat;
     background-size: cover;
     display: flex;
     flex-direction: column;
 }

 .home .content-wrap {

     flex: 1 0 auto;
     padding: 20px;
 }

 .content-bg {
     background-color: #f5f2eb;
     opacity: 0.8;
     padding-inline: 20px;
     padding-bottom: 10px;
 }

 @media screen and (max-width:650px) {
     .home .content-wrap {
         padding: 10px;
     }

     .content-bg {
         padding: 20px;
     }
 }




 /* RESUME */
 .resume header::before {
     background: url(../images/palm-trees.jpg) center;
     background-size: cover;
     content: "";
     display: block;
     height: 350px;
 }

 .resume-section {
     margin-bottom: 50px;
 }

 .resume-section h2 {
     border-bottom: 2px dashed #322619;
 }

 /* Profile */

 @media screen and (max-width:1200px) {
     .download-pdf {
         position: absolute;
         font-size: 1.5rem;
     }
 }

 .download-pdf {
     position: fixed;
     top: 50px;
     bottom: 10px;
     left: 20px;
     font-size: 1.5rem;
 }

 @media screen and (max-width:500px) {
     .resume header::before {
         height: 200px;
     }

     h1 {
         font-size: 5rem;
     }

     h2 {
         font-size: 2.6rem;
     }
 }

 /* Projects */
 .project-item {
     margin: 30px 0;
 }

 .project-item img, iframe {
     width: 300px;
 }

 @media screen and (min-width:860px) {
     .project-item {
         display: flow-root;
     }

     .project-item img, iframe {
         float: left;
         margin-right: 20px;
     }
 }

 @media screen and (min-width:650px) and (max-width:860px) {
     .project-wrap {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         column-gap: 20px;
     }
 }

 .project-item img, iframe {

     float: left;
 }

 /* Work Experiance */
 .work-item {
     display: grid;
     grid-template-columns: 320px 2fr;
     column-gap: 20px;
     margin: 30px 0px;
 }

 .work-details p {
     margin: 0;
 }

 .work-summary p:first-child {
     margin-top: 0;

 }

 @media screen and (min-width:860px) {
     .work-item {
         display: grid;
         grid-template-columns: 300px 1fr;
         column-gap: 20px;
     }

     .work-summary p:first-child {
         margin-top: 0;
     }
 }


 /* Education */
 .education-item p {
     margin: 0;
 }

 .education-item {
     margin: 30px 0px;
 }

 /* FOOTER */

 footer {
     background-color: #F5F2EB;
     color: #8B8094;
     display: flex;
     justify-content: space-between;
     padding: 0 20px;
 }

 .socials {
     list-style: none;
     padding: 0;
 }

 .socials li {
     display: inline-block;
     margin-left: 10px;
 }

 .socials img {
     width: 32px;

 }

 .socials img:hover {
     opacity: 0.5;
 }

 @media screen and (min-width:860px) {
     footer {
         display: flex;
         justify-content: space-between;
         padding: 0 20px
     }
 }

 @media screen and (max-width:859px) {
     footer {
         text-align: center;
         padding: 10px;
     }
 }